<div class="wrapper container">
  <div class="header">
    <h1 class="header-brandname">Brandname</h1>
    <nav class="navbar">
      <a href="#" class="navbar-title">Home</a>
      <a href="#" class="navbar-title">Product</a>
      <a href="#" class="navbar-title">Pricing</a>
      <a href="#" class="navbar-title">Contacts</a>
    </nav>
    <div class="navbar-buttons">
      <a class="navbar-buttons__login" href="#">Login</a>
      <button class="navbar-buttons__join">
        JOIN US
        <svg class="navbar-buttons__icon" width="12" height="10">
          <use href="./images/hero/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- hero -->
  <div class="hero">
    <div class="hero-container">
      <div class="hero-welcome">
        <h5 class="hero-welcome-title">Welcome</h5>
        <h1 class="hero-title">Best Learning <br />Opportunities</h1>
        <p class="hero-paragraph">
          Find the right instructor for you <br />
          from over 10,000 teachers
        </p>
        <div class="hero-buttons">
          <button class="hero-quote-button">Get Quote Now</button>
          <button class="hero-learnmore-button">Learn More</button>
        </div>
      </div>
      <div class="hero-images">
        <div>
          <img src="./images/hero/boy.png" />
          <img src="./images/hero/woman.png" />
        </div>
      </div>
    </div>
  </div>
</div>
