.wrapper {
  background-color: #26335d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 90px;

  &-brandname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin-right: 315px;
  }
}

.navbar {
  &-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-right: 35px;
  }

  &-title:last-child {
    margin-right: 340px;
  }

  &-buttons {
    &__login {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.57;
      text-align: right;
      letter-spacing: 0.2px;
      color: #ffffff;
      margin-right: 35px;
    }

    &__join {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.2px;
      color: #ffffff;
      padding: 12px 25px;
      background: #ff6551;
      border-radius: 5px;
    }

    &__icon {
      margin-left: 10px;
    }
  }
}

.hero {
  &-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  &-welcome-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ff6551;
    margin: 0 0 40px 0;
  }
  &-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-top: 40px;
  }
  &-container {
    display: flex;
    margin-top: 180px;
    padding-bottom: 130px;
  }
  &-welcome {
    margin-right: 510px;
    padding-bottom: 40px;
  }
  &-buttons {
    margin-top: 40px;
  }
  &-quote-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #ffffff;
    padding: 15px 40px;
    background: #ff6551;
    border-radius: 5px;
    margin-right: 15px;
  }
  &-learnmore-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #ff6551;
    padding: 15px 40px;
    border: 1px solid #ff6551;
    border-radius: 5px;
    background-color: #26335d;
  }
  &-images {
    margin-top: -90px;
    &__container {
      position: relative;
    }
    &__square {
      width: 116px;
      height: 138px;
      background: rgb(255, 101, 81);
      position: absolute;
      top: -27px;
      right: -39px;
    }
    &__woman {
      position: absolute;
      bottom: -80px;
      left: -89px;
    }
    &__boy {
      position: relative;
    }
  }
}
